.git
.gitignore
.github
.venv
venv
env

__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.local
*.sqlite3
*.sqlite3-journal
db.sqlite3
django_local.sqlite3
staticfiles/

base/
old/
.legacy
*.legacy

.vscode
.idea
.DS_Store
Thumbs.db

node_modules

ControleGastosN8N.json